.calc
{
    height: 450px;
    width: 300px;
    background-color: black;
    border-radius: 10px;
    align-items: center;
    margin: 50px ;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
   

   
}
input
{
    height: 40px;
    width: 280px;
    font-size: 27px;
    border-radius: 10px;
    margin:5px ;
}
.st
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 15px;

    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}
button
{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    gap: 10px;
    font-weight: bolder;
    font-size: 20px;

}
button:hover
{
    height: 55px;
    width: 55px;
    color: deeppink;
    box-shadow: 3px 3px 10px rgb(243, 165, 178);
}
.AC 
{
    background-color: darkgray;
   
}
.AC3
{
    background-color: orange;
    font-size: 30px;
   
}
.AC1
{
    background-color: orange;
}
.AC2
{
    background-color: black;
    border: 2px solid ;
    color: azure;
   
}

h1
{
     color:white;
}
.zero
{
    display: flex;
     justify-content: space-between;

}
